body {
  font-family: Arial, sans-serif;
  background-color: rosybrown;
}

.business-card {
  width: 300px;
  background-color: rgb(207, 163, 163);
  padding: 20px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
}

.profile-image {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}
